################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ASPCoreAppWeb/.vs/ASPCoreAppWeb
/ASPCoreAppWeb/ASPCoreAppWeb/bin/Debug/net8.0
/ASPCoreAppWeb/ASPCoreAppWeb/obj
/ASPCoreAppWeb/ASPCoreAppWeb/Properties
*.csproj
*.user
